.wrapper {
  --background: #000;
  --character-width: '1em';
  --split-width: '1px';

  background: var(--background);
  display: flex;
  justify-content: center;
  width: var(--character-width);
  padding: 0.5em;
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--split-width);
    background: var(--background);
    transform: translateY(-50%);
    z-index: 5;
  }
}
