{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "no-confusing-arrow": 0,
    "object-curly-newline": ["error", { "multiline": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", "ts", "tsx"] }],
    "react/no-array-index-key": 0,
    "react/sort-comp": 0
  },
  "settings": {}
}
