body {
  margin: 0;
  padding: 0;
  font-family: 'Menlo', 'monospace';
}

pre {
  background: #dddddd;
  display: inline-block;
  margin: 0;
  padding: 15px;
}

.container {
  padding: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.wrapper {
  margin: 0 15px 15px 0;
}

.swatch-container {
  display: inline-block;
  vertical-align: middle;
}

.swatch {
  width: 24px;
  height: 12px;
  border: 1px #888888 solid;
  border-radius: 2px;
  padding: 2px;
  cursor: pointer;
}

.color {
  width: 100%;
  height: 100%;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
